*{
    margin: 0;
}
body{
    background-color:blanchedalmond;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding-left: 20px;
}
.nav a{
    text-decoration: none;
    color:antiquewhite;
    font-weight: 800;
    font-size: 1.5em;
}
.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 20px;
}
.image {
    margin-top: 40px;
    /* margin-right: 20px; */
    margin-bottom: 40px;
    text-align: center ;
}
.footer{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: 800;
}
.card{
    display: flex;
    justify-content: space-evenly;
}
.car{
    text-align: center;
    font-weight: 800;
    font-size: 1.4em;
    border-radius: 10px;
}
.quantity{
    border: 2px solid black;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color:tomato;
    color: white;
}